streamlit
matplotlib
fastparquet
mpire
pytz
pretty-html-table
branca
streamlit-nested-layout
geopandas
webcolors
pydeck
folium 
plotly
pandas
streamlit_folium
mercantile
shapely
pandarallel
pyproj
osmnx
opencv-python
colorama
